<%= form_for(@sample_finish) do |f| %>
  <% if @sample_finish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sample_finish.errors.count, "error") %> prohibited this sample_finish from being saved:</h2>

      <ul>
      <% @sample_finish.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
