<h1>Add Colors</h1>
	<%= form_for @car do |f| %>
		<%= render partial: 'color_checkboxes', locals: {f: f} %>

		<%= f.submit 'SAVE CHANGES',  :class => 'btn btn-green btn-lg btn-block' %>  
	<%end%>

